@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border: 214.3 31.8% 91.4%;
    --input: 216 33% 97%;
    --ring: 215 20.2% 65.1%;

    --background: 0 0% 100%;
    --foreground: 0 0% 0%; /* Black */

    --card: 0 0% 98%; /* Close to white */
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 96%; /* Neutral 100 #F5F5F5 */

    --card: 0 0% 15%; /* Neutral 800 #262626 */
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 96%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%; /* Neutral 400 #A3A3A3 */

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 25%; /* Neutral 700 roughly */
    --input: 0 0% 25%;
    --ring: 0 0% 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
